/* Set up overall structure */

.App {
  display: grid;
  grid-template-areas:
    "header header"
    "dropdown filter"
    "projectCard projectCard";
}

button {
  outline: none;
  border: none;
}

/* ---------- Dropdown css ----------------*/

.dropdownDiv {
  grid-area: dropdown;
  display: flex;
  padding-top: 3%;
  padding-left: 5%;
  color: rgb(36, 72, 112);
  font-size: 1.5em;
  height: 1.7em;
}

.dropdownTitle {
  padding-top: 1.5%;
  font-size: 85%;
  font-weight: 500;
}

.dropdownFormat {
  margin-left: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.dropdownSymbol {
  font-weight: 900;
  margin-left: 18%;
  font-size: 1.2em;
  color: rgb(20, 163, 136);
  background-color: rgb(245, 245, 245);
  padding-left: 0.3em;
  padding-right: 0.6em;
  padding-bottom: 0.1em;
  width: auto;
  transition: 0.2s;
}

.dropdownSymbol:hover {
  cursor: pointer;
}

.rotateSymbol:hover {
  cursor: pointer;
}

.rotateSymbol {
  font-weight: 900;
  margin-left: 20%;
  font-size: 1.2em;
  color: rgb(20, 163, 136);
  background-color: rgb(245, 245, 245);
  padding-left: 0.3em;
  padding-right: 0.6em;
  padding-bottom: 0.1em;
  transform: rotate(90deg);
  transition: 0.2s;
}

.dropdownOptions {
  position: absolute;
  left: 20%;
  top: 80%;
  width: 250px;
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
  background-color: rgb(245, 245, 245);
}

.dropdownOptions input {
  padding-left: 8px;
  margin-left: 3%;
  width: 90%;
  height: 2.5em;
  border: 0.2em solid rgb(80, 183, 162);
}
.dropdownOptions input::placeholder {
  font-style: italic;
}

.dropdownOptions div {
  margin-left: 3%;
  padding-left: 5%;
  color: rgb(80, 183, 162);
  width: 90%;
  font-size: 80%;
  margin-bottom: 2%;
}

/* ---------- Filter css ----------------*/

.filter {
  grid-area: filter;
  padding-top: 3%;
  margin-right: 2%;
  height: 2.3em;
}

.filter button {
  float: right;
  margin-left: 2.5%;
  font-weight: 600;
  font-size: 1em;
  height: 100%;
  width: 10em;
  color: white;
  background-color: rgb(20, 163, 136);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.25);
}

.filter input {
  padding-left: 8px;
  float: right;
  height: 90%;
  width: 45%;
  border-color: rgb(36, 72, 112);
  border-width: 1.5px;
}
.filter input::placeholder {
  font-style: italic;
}

/* ---------- Project Card css ----------------*/

.projectCardDiv {
  grid-area: projectCard;
  margin-top: 1.2%;
  margin-left: 1%;
  margin-right: 1%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.projectCard {
  background-color: rgb(245, 245, 245);
  margin-top: 10px;
  margin-left: 20px;
  border: 0.2em solid rgba(225, 225, 225, 0.5);
}

.titleDiv {
  display: flex;
  margin-top: 2%;
  margin-left: 2%;
  height: 1.4em;
}

.cardTitle {
  color: rgb(20, 163, 136);
  font-weight: 600;
  border-bottom: 0.12em solid rgb(20, 163, 136);
  padding-bottom: 4%;
  width: 80%;
  overflow: hidden;
  font-size: 120%;
}

.metricsButton {
  background-color: rgb(33, 112, 210);
  color: white;
  font-size: 80%;
  width: 15%;
  padding: 1% 1% 3.5%;
  min-width: 90px;
  margin-left: 3.5%;
}

.projectDescription {
  overflow: scroll;
  margin-top: 3%;
  margin-left: 2%;
  margin-right: 2%;
  margin-bottom: 2%;
  font-size: 90%;
  height: 5em;
}

/* ---------- Header css ----------------*/

.header {
  grid-area: header;
  display: flex;
  height: 30px;
  border-bottom: 0.2em solid rgb(227, 102, 10);
  padding-top: 10px;
}

.logo {
  font-weight: 600;
  font-size: 95%;
  padding-left: 10px;
}

.headerTabs {
  font-weight: 600;
  margin-left: 70%;
  display: flex;
  font-size: 90%;
}

.headerTabs:hover {
  cursor: pointer;
}

.selectedTab {
  color: rgb(36 72 112);
  margin-left: 40%;
}

.headerTab {
  color: rgb(54 174 150);
  margin-left: 40%;
}
